<html>
<head>
<title>{% block title %}{% endblock %}</title>
</head>

<body>
{% for message in get_flashed_messages() %}
<div class=flash>{{ message }}</div>
{% endfor %}
<img src={{url_for("static", filename="image/logo.png")}}>
{% block body %}{% endblock %}
</body>
</html>