{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% if user %}
{% set bio = user.getBio() %}
<h2>Welcome back {{user.username}}</h2>
<p>Full name: {{user.name}}
<p>Bio: {{bio}}
<p><a href={{url_for("hello.logout")}}>Logout</a>
{% else %}
hello world. please go to the <a href={{url_for('.login')}}>login page</a> or <a href={{url_for('.register')}}>sign up page</a> :D
{% endif %}
{% if lis %}
{% for i in lis %}
{{i}}
{% endfor %}
{% endif %}
{% endblock %}