{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div>
<form action="" method="post">
<p>Username:
<p><input type=text name=username>
<p><input type=submit value=Login>
</form>
</div>
{% endblock %}