{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
<h2>Welcome to the sign up page. Kindly fill in your infos:</h2>
<div>
<form action="", method="post">
<p>Username: <input type="text" name="username">
<p>Password: <input type="password" name="password">
<p>Full name: <input type="text" name="fullname">
<p>Bio: <input type="bio" name="bio">
<p><input type=submit value="Sign up">
</form>
</div>
{% endblock %}